<div class="container">
    <div class="titulo">
        <h1>{{titulo}}</h1>
    </div>
    <div class="content">
        <p>{{descripcion}}</p>
        <div class="row">
            <h4>Países destacados</h4>
            <ul class="f32">
                <li *ngFor="let bandera of banderas" class="{{bandera.prefijo}}"></li>
            </ul>
        </div>
        <div class="row">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Escoger Bandera</legend>
                <div class="control-group">
                    <label class="control-label input-label" for="bandera">Bandera :</label>
                    <form>
                        <div class="row">
                            <div class="col">
                                <select #bandera name="bandera" id="bandera">
                                    <option title="México" value="flag mx">México</option>
                                    <option title="Italia" value="flag it">Italia</option>
                                    <option title="Japón" value="flag jp">Japón</option>
                                    <option title="Alemania" value="flag de">Alemania</option>
                                    <option title="Ecuador" value="flag ec">Ecuador</option>
                                    <option title="España" value="flag es">España</option>
                                    <option title="Chile" value="flag cl">Chile</option>
                                    <option title="China" value="flag cn">China</option>
                                    <option title="Brasil" value="flag br">Brasil</option>
                                </select>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" (click)="guardar(bandera.value)">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <h4>Países del formulario</h4>
            <ul class="f32">
                <li class="list-group-item">
                    <app-bandera *ngFor="let bandera of banderasFormulario" [bandera]="bandera"></app-bandera>
                </li>
            </ul>
        </div>
    </div>
</div>